<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_url 'banner.jpg' %>)">
  <div class="container">
    <h1>Watchlist</h1>
    <p>All of your favorites in one place.</p>
    <%= link_to 'Create', new_list_path, class: 'btn btn-primary'  %>
  </div>
</div>
<div class="container">
  <h3>My Lists</h3>
  <div class="container-scroll owl-carousel owl-theme">
    <% @lists.each do |list| %>
      <%= link_to list_path(list), class: 'item' do %>
        <%= image_tag "https://placeimg.com/640/480/animals", alt: "alttext" %>
      <% end %>
    <% end %>
  </div>
</div>