<div class="container mt-5">
  <h3><span class="lighter"><%= link_to 'Lists', root_path %> > </span> <%= @list.name%></h3>
  <% if @list.movies.any? %>
    <div class="selected-movie">
      <%= render 'movies/selected', movie: @list.movies.first %>
    </div>
  <% else %>
    <div class="text-center">
      <%= link_to 'Add Movie', new_list_bookmark_path(@list), class: 'btn btn-primary'  %>
    </div>
  <% end %>
</div>